// color variables
$primary-color-strong-cyan: hsl(172, 67%, 45%);

$neutral-color-very-dark-cyan: hsl(183, 100%, 15%);
$neutral-color-dark-grayish-cyan: hsl(186, 14%, 43%);
$neutral-color-grayish-cyan: hsl(184, 14%, 56%);
$neutral-color-light-grayish-cyan: hsl(185, 41%, 84%);
$neutral-color-very-light-grayish-cyan: hsl(189, 41%, 97%);

$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);

// Font variables
$form-input-font-size: 24px;