button {
    padding: 1rem 1.5rem;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}

.result-button {
    background-color: $primary-color-strong-cyan;
    color: $neutral-color-very-dark-cyan;

    &:disabled {
        opacity: 0.2;
    }
}