@use '../core/variables'as *;

.control-grid {
    &-select {
        color: $white-color;
        background-color: $neutral-color-very-dark-cyan;
        transition: 0.12s background-color;
    }

    &-select:nth-child(6) {
        background-color: $neutral-color-very-light-grayish-cyan;
        color: $neutral-color-grayish-cyan;
    }

    // For Accessibility purposes, keep focus
    &-select:focus,
    &-select:focus-visible,
    &-select:focus-within,
    &-select-focus {
        background-color: $primary-color-strong-cyan;
        color: $neutral-color-very-dark-cyan;
    }

    &-select:hover {
        background-color: $neutral-color-grayish-cyan
    }
}