.control {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-header {
        font-size: 1rem;
        color: $neutral-color-grayish-cyan;
        display: flex;
        justify-content: space-between;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 0.5rem;
    }
}